<div class="container center-text">
  <h1>Let's Talk</h1>

  <p>Chat Log</p>

  <p>Enter message here...</p>

  <p>
    <strong>Name:</strong>

  </p>

  <div class="container">
    <h3 class=" text-center">Let's Talk</h3>
  </div>
</div>
